*.o
*.lo
*.la
.deps
.libs
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
autom4te.cache

connman.pc
include/connman
src/connmand
src/connman.exp
src/connman.ver
src/connman.service
scripts/connman
scripts/dhclient-script
scripts/fi.epitest.hostap.WPASupplicant.service
