*.o
*.a
*.lo
*.la
.deps
.libs
.dirstamp
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
compile
install-sh
libtool
ltmain.sh
missing
stamp-h1
autom4te.cache
test-driver
m4/
!m4/configmake.m4

connman.pc
include/connman
include/version.h
src/builtin.h
src/connmand
src/connman.conf
src/connman.service
src/net.connman.service
src/*-connman.rules
src/connman-wait-online.service
src/connmand-wait-online
plugins/connman.policy
scripts/connman
scripts/openconnect-script
scripts/openvpn-script
scripts/connman_resolvconf.conf
client/connmanctl
tools/wispr
tools/dhcp-test
tools/dhcp-server-test
tools/addr-test
tools/tap-test
tools/web-test
tools/wpad-test
tools/resolv-test
tools/polkit-test
tools/iptables-test
tools/iptables-unit
tools/dnsproxy-test
tools/supplicant-test
tools/dbus-test
tools/stats-tool
tools/stats-ringbuffer-dump
tools/private-network-test
tools/session-test
tools/netlink-test
unit/test-ippool
unit/test-nat

doc/*.bak
doc/*.stamp
doc/connman.*
doc/*.1
doc/*.5
doc/*.8
!doc/*.1.in
!doc/*.5.in
!doc/*.8.in
doc/connman-*.txt

vpn/builtin.h
vpn/connman-vpnd
vpn/connman-vpn-dbus.conf
vpn/connman-vpn.service
vpn/net.connman.vpn.service
