*.o
*.a
*.lo
*.la
.deps
.libs
.dirstamp
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
compile
install-sh
libtool
ltmain.sh
missing
stamp-h1
autom4te.cache

connman.pc
include/connman
include/version.h
src/builtin.h
src/connmand
src/connman.conf
src/connman.service
src/*-connman.rules
plugins/connman.policy
scripts/connman
scripts/openconnect-script
client/cm
tools/wispr
tools/wifi-scan
tools/dhcp-test
tools/dhcp-server-test
tools/addr-test
tools/tap-test
tools/web-test
tools/wpad-test
tools/resolv-test
tools/polkit-test
tools/iptables-test
tools/supplicant-test
tools/alg-test
tools/dbus-test
tools/stats-tool
tools/stats-ringbuffer-dump
doc/*.bak
doc/*.stamp
doc/connman.*
doc/connman-*.txt
doc/*.sgml
doc/version.xml
doc/xml
doc/html
