Luiz Augusto von Dentz <luiz.dentz-von@nokia.com>	<luiz.dentz-von@nokia.com>
Leena Gunda <leena.gunda@wipro.com>			<leena.gunda@wipro.com>
Flávio Ceolin <flavio.ceolin@profusion.mobi>		<flavio.ceolin@profusion.mobi>
Daniel Wagner <daniel.wagner@bmw-carit.de>		<daniel.wagner@bmw-carit.de>
Zhang Zhengguang <zhengguang.zhang@intel.com>		<zhengguang.zhang@intel.com>
Roger Wang <roger.wang@intel.com>			<roger.wang@intel.com>
Gergely Riskó <gergely@risko.hu>			<gergely@risko.hu>
Yann E. Morin <yann.morin.1998@free.fr>			<yann.morin.1998@free.fr>
Yusuke Nakamura <ynakamura@jp.adit-jv.com>		<ynakamura@jp.adit-jv.com>
Bing Niu <bing.niu@intel.com>				<bing.niu@intel.com>
Naveen Singh <naveensingh0977@gmail.com>		<naveensingh0977@gmail.com>
Mylène Josserand <josserand.mylene@gmail.com>		<josserand.mylene@gmail.com>