Luiz Augusto von Dentz <luiz.dentz-von@nokia.com>	<luiz.dentz-von@nokia.com>
Leena Gunda <leena.gunda@wipro.com>			<leena.gunda@wipro.com>
Flávio Ceolin <flavio.ceolin@profusion.mobi>		<flavio.ceolin@profusion.mobi>
Daniel Wagner <daniel.wagner@bmw-carit.de>		<daniel.wagner@bmw-carit.de>
Zhang Zhengguang <zhengguang.zhang@intel.com>		<zhengguang.zhang@intel.com>
