
SUBSYSTEM=="rfkill", ENV{CONNMAN_TYPE}="rfkill"

SUBSYSTEM=="net", KERNEL=="eth*", ENV{CONNMAN_TYPE}="ethernet"
SUBSYSTEM=="net", KERNEL=="wlan*", ENV{CONNMAN_TYPE}="wifi"

SUBSYSTEM=="net", DRIVERS=="hso", ENV{CONNMAN_TYPE}="hso"

SUBSYSTEM=="tty", KERNEL=="noz[0-9]*", ENV{CONNMAN_TYPE}="nozomi"

SUBSYSTEM=="tty", ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1003", \
						ENV{CONNMAN_TYPE}="huawei"

SUBSYSTEM=="tty", ATTRS{idVendor}=="1410", ATTRS{idProduct}=="4400", \
						ENV{CONNMAN_TYPE}="novatel"
