
SUBSYSTEM=="net", DRIVERS=="hso", ENV{CONNMAN_TYPE}="hso"

SUBSYSTEM=="tty", ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1003", \
						ENV{CONNMAN_TYPE}="huawei"

SUBSYSTEM=="tty", ATTRS{idVendor}=="1410", ATTRS{idProduct}=="4400", \
						ENV{CONNMAN_TYPE}="novatel"

ENV{CONNMAN_TYPE}=="?*", ENV{CONNMAN_INTERFACE}="$kernel", \
				RUN+="socket:@/org/moblin/connman/udev"
